body{
    width: 800px;
}
.intestazione{
    background-image:url(../img/pattern.png);
    background-size:50%;
    background-repeat:initial;
    background-color: rgb(94, 172, 255);
}
#logo{
    width: 200px;
    padding: 30px;
}
.contenuto-principale{
    padding-left: 30px;
}
h1{
    font-size: 35px;
    margin-bottom: 0%;
}
.sottotitolo{
    margin: 0%;
    color:gray;
}
.didascalia{
    margin: 0%;
    font-size: 12px;
}
.evidenziatore{
    background-color: yellow;
}